body {
    display: grid;
    grid-template-rows: 200px 5fr .25fr .25fr;
    grid-template-columns: 1fr 1fr 1fr;
}
a {
    text-decoration: none;
}
#header {
    grid-row: 1/2;
    grid-column: 2/3;
}
#header a.logo img {
	border: 0;
	display: block;
	margin: 0 auto;
	padding: 0;
}
#navigation {
    display: flex;
    flex-wrap: wrap;
}
.siteNav {
    justify-content: start;
    margin: 0 auto;
    text-align: center;
    width: 75px;
}
.siteNav > a {
    color: #252525;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 14px;
	font-weight: normal;
}
#selected > a , .siteNav > a:hover {
    color: #0ba39c;
}
#body {
    grid-row: 2/3;
    grid-column: 1/4;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
h1 {
    background-color: #252525;
    color: #fff;
	font-family: 'Poller One', cursive;
	font-size: 35px;
	font-weight: normal;
	margin-top: 15px;
    display: inline-block;
	padding: 15px 28px 12px;
}
#mustaches {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 180px;
    margin-left: 180px;
    margin-top: 25px;
    margin-bottom: 50px;
}
#mustaches > a > img {
    border: 2px solid #1a1a1a;
    opacity: 0.8;
    margin-bottom: 20px;
}
#mustaches > a > img:hover {
    opacity: 1;
    transition: 0.5s ease-in-out;
}
#footer {
    grid-row: 3/4;
    grid-column: 1/4;
    background: #252525;
	margin: 0;
    padding: 36px 0 42px;
}
#footer div {
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	width: 75%;
}
#footer > div > p {
	font-size: 14px;
    color: #fff;
	float: left;
	line-height: 44px;
	margin: 0 0 0 10px;
	padding: 0;
}
#footer div ul {
	display: block;
	float: right;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 256px;
}
#footer div ul li {
	display: block;
	float: left;
	list-style: none;
	margin: 0 10px;
	padding: 0;
	width: 44px;
}
#footer div ul li a {
	background: url(https://freewebsitetemplates.com/preview/mustacheenthusiast//images/icons.jpg) no-repeat 0 0;
	display: block;
	height: 44px;
	margin: 0;
	padding: 0;
	text-indent: -99999px;
	width: 44px;
}
#footer div ul li #twitter {
	background-position: 0 0;
}
#footer div ul li #twitter:hover {
	background-position: -44px 0;
}
#footer div ul li #facebook {
	background-position: 0 -44px;
}
#footer div ul li #facebook:hover {
	background-position: -44px -44px;
}
#footer div ul li #googleplus {
	background-position: 0 -88px;
}
#footer div ul li #googleplus:hover {
	background-position: -44px -88px;
}
#footer div ul li #pinterest {
	background-position: 0 -132px;
}
#footer div ul li #pinterest:hover {
	background-position: -44px -132px;
}
@media (max-width: 768px) {
	#footer div ul {
		float: left;
	}
}